.container{
    margin-top: 20px;
}
.card-header{
    background-color:rgb(22, 22, 22) !important;
    color: white !important;
    text-align: center;
}
.card-body{
    background-color:ghostwhite;
    border-radius: 10px;
}

.form-control{
    font-size: medium;
}
.btn:hover{
    background-color: rgb(22, 22, 22) !important;
}
.cursor-pointer i  {
    cursor: pointer;
}