.container{
    margin-top: 20px;
    margin-left: 480px !important;
}
.card-header{
    background-color:grey !important;
    color: white !important;
    text-align: center;
}
.card-body{
    background-color:ghostwhite;
    border-radius: 10px;
}

.form-control{
    font-size: medium;
}

.cursor-pointer i  {
    cursor: pointer;
}